[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "vendor/vulkan-profiles"]
	path = vendor/vulkan-profiles
	url = https://github.com/KhronosGroup/Vulkan-Profiles
[submodule "vendor/vulkan-docs"]
	path = vendor/vulkan-docs
	url = https://github.com/KhronosGroup/Vulkan-Docs
